body {
  margin: 0;
  padding: 0;
  background-color: hsl(185, 75%, 39%);
  box-sizing: border-box;
  font-family: "Kumbh Sans", "sans-serif";
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
}

span {
  font-weight: 400;
  color: hsl(0, 0%, 59%);
}

.container {
  display: grid;
  grid-template-rows: 1fr 1fr auto;
  background: #fff;
  border-radius: 1rem;
  position: relative;
  box-shadow: 15px 15px 100px hsla(229, 23%, 23%, 0.575);
}

.card-background {
  grid-row: 1 / 2;
  border-radius: 1rem 1rem 0 0;
  overflow-x: hidden;
  height: fit-content;
  display: flex;
  flex-wrap: wrap;
}

.card-profile-img {
  border-radius: 60px;
  border: 6px solid #fff;
  width: fit-content;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%);
}

.card-description {
  grid-row: 2 / 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 4rem 0 2rem 0;
}

.name {
  padding: 1rem;
  font-size: 18px;
  font-weight: 700;
}

.info {
  font-weight: 400;
}

.followers {
  text-align: center;
  grid-column: 1 / 2;
}

.likes {
  text-align: center;
  grid-column: 2 / 3;
}

.photos {
  text-align: center;
  grid-column: 3 / 4;
}
.stats-container {
  grid-row: 3 / 4;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center;
  padding: 1.5rem;
  line-height: 1.5rem;
  font-weight: 700;
  font-size: 21px;
  border-top: 2px solid hsla(0, 0%, 59%, 0.267);
}

.stats-container span {
  font-size: 12px;
  letter-spacing: 2px;
}

.top-bubble {
  position: absolute;
  bottom: 30%;
  right: 50%;
  z-index: -1;
}

.bottom-bubble {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: -1;
}

@media only screen and (min-width: 310) {
  body {
    background-color: black;
  }
}
